# Create an application to obtain credentials at
# https://developer.paypal.com/dashboard/applications/sandbox

PAYPAL_CLIENT_ID=AYN6AslzIwyfH1L7Hw0l7KduRj5SgkcsEKE-uujIOLl2GvLJfBlwZtIR3Ebf95A_V6V7M7JE7Fh2xtuB
PAYPAL_CLIENT_SECRET=EAkpsl9_9Zcq0OjAj8LBYriOQjgp4cUXMXl1ubEG5FTwn6WJSljtiNvC4xX182qO3i2dswQ0b6dDER9Q
